@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:diary"] p,
[epub|type~="z3998:diary-entry"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:diary"] p + p,
[epub|type~="z3998:diary-entry"] p + p{
	margin-top: 1em;
}
